# Dependencies
node_modules/

# Vercel local files
.vercel/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp
